.about {
  padding: 5rem 2rem;
  text-align: center;
  background: transparent; /* Make background transparent */
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #fff; /* Change text color to white */
}

.about p {
  font-size: 1.2rem;
  color: #fff; /* Change text color to white */
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .about {
    padding: 3rem 1rem;
  }

  .about p {
    font-size: 1rem;
  }
}
