.header {
  position: fixed;
  width: 100%;
  top: 0;
  background: #111;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 1000; /* Ensure the header is above other elements */
  box-sizing: border-box;
}

.logo {
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  padding-right: 20px; /* Add padding to the right side */
}

nav ul li {
  margin: 0 1rem;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  color: #ff5733;
}

.contact-button {
  margin-right: 20px; /* Add margin to the right side */
}
