.hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../public/background.jpg") no-repeat;
  background-position: top center, 65% 50%;
  background-size: cover, auto;
  background-repeat: no-repeat, no-repeat;
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), black);
  z-index: 0;
}

.hero-content {
  position: relative;
  z-index: 1;
  bottom: 20px;
  left: 20px;
  text-align: left;
  margin-left: 10vw;
  margin-right: 10vw;
}

.hero-title {
  margin-top: 5vh;
  margin-bottom: 0;
  font-size: 1.25rem;
  font-weight: bold;
}

.hero-subtitle {
  margin-top: 3vh;
  font-size: 24px;
  margin: 20px 0;
  color: rgb(204, 204, 204);
}

.hero-buttons {
  margin-top: 50vh;
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  align-items: center;
}

.wrap-play-button {
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
}

.play-button {
  transform: scale(2);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
}

.icon-play-button {
  width: 40px;
  height: 40px;
}

.play-text {
  font-weight: 900;
  position: absolute;
  left: 50%;
  margin-left: 9rem;
  transform: translateX(-50%);
  color: white;
  font-size: 16px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  white-space: nowrap;
  pointer-events: none;
  font-family: "Courier New", Courier, monospace;
}

.wrap-play-button:hover .play-text {
  opacity: 1;
}

.wrap-play-button:hover .play-button {
  transform: scale(1.5);
}

.modal {
  position: relative;
  background: white;
  padding: 20px 20px 50px;
  width: 960px;
  height: 528px;
  max-width: 90%;
  margin: 50px auto;
  z-index: 101;
  position: relative;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.video-iframe {
  width: 100%;
  height: 100%;
}

.close-button {
  margin-top: 10px;
  background: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.hero h1 {
  font-size: 4rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.hero p {
  margin: 1rem 0;
  font-size: 1.5rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.cta-button {
  margin-top: 20px;
  padding: 1rem 2rem;
  background-color: #ff5733;
  color: white;
  border: none;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #e04e2a;
}

.scrolling-text-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent; /* Make background transparent */
  position: relative;
  overflow: hidden;
}

.horizontal-line {
  width: 1000px;
  height: 2px;
  background-image: linear-gradient(
    353deg,
    hsla(0, 0%, 100%, 0.35),
    #fff 52%,
    hsla(0, 0%, 100%, 0.35)
  );
  box-sizing: border-box;
  position: relative;
}

.icon-center {
  position: absolute;
  top: -42.5px; /* Center vertically */
  left: 50%;
  transform: translateX(-50%);
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
}

.scrolling-text {
  display: flex;
  animation: scroll-text 10s linear infinite; /* Adjusted duration */
  white-space: nowrap;
  font-family: "Futura font", sans-serif;
  font-size: 288px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 100%;
  padding: 90px 0;
  margin: 60px;
}

.scrolling-text-item {
  display: inline-block;
  padding: 0 50px; /* Adds spacing between items */
  background: none; /* Removed the background property */
  color: transparent; /* Text will be transparent, but... */
  background-clip: text;
  -webkit-background-clip: text; /* Gradient will only affect the text */
  background-image: linear-gradient(
    90deg,
    #ffffff,
    #2c2b2b
  ); /* Gradient on text */
  -webkit-text-fill-color: transparent; /* Ensures text fill is transparent */
}

.scrolling-text-item:nth-child(2n) {
  background-image: linear-gradient(
    90deg,
    #ffffff,
    #2c2b2b
  ); /* Alternate gradient */
}

@keyframes scroll-text {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@media (max-width: 768px) {
  .hero h1 {
    font-size: 2.5rem;
  }

  .cta-button {
    padding: 0.75rem 1.5rem;
  }

  .scrolling-text {
    font-size: 72px;
  }

  .scrolling-text-item {
    font-size: 72px;
    padding: 0 25px;
  }
}
